{% extends 'base.html.twig' %}

{% block title %}Administration des permissions de rôle{% endblock %}

{% block body %}
<div class="container">
    <div class="row mt-5">
        <div class="col-lg-4 col-md-6" style="background: #f2f2f2;">
            {% include "admin/_menu_dashboard.html.twig" %}
        </div>
        <div class="col-lg-8 col-md-6">
            <div class="mt-3">
                {% include "partials/_flash_message.html.twig" %}
            </div>
            <table class="table" style="overflow: auto;">
                <tr>
                    <th></th>
                    <th></th>
                    {% for role in data["roles"] %}
                        <th>
                            {{ role }}
                        </th>
                    {% endfor %}
                </tr>

                <form action="{{ path("admin_role_permission_save") }}" method="POST">
                {% for entityName, roles in data["entitiesData"] %}
                        <tr>
                            <td>{{ entityName }}</td>
                            <td>add</td>
                            {% for roleName, entity in roles %}
                                <td>
                                    <input type="checkbox" 
                                            name="permission[{{ entityName }}][{{ roleName }}][setCanAdd]" 
                                            class="add-permission"
                                            {% if entity.canAdd %}checked{% endif %}
                                    > 
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td></td>
                            <td>edit</td>
                            {% for roleName, entity in roles %}
                                <td>
                                    <input type="checkbox" 
                                            name="permission[{{ entityName }}][{{ roleName }}][setCanEdit]" 
                                            class="edit-permission"
                                        {% if entity.canEdit %}checked{% endif %}
                                    >        
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td></td>
                            <td>view</td>
                            {% for roleName, entity in roles %}
                                <td>
                                    <input type="checkbox" 
                                            name="permission[{{ entityName }}][{{ roleName }}][setCanView]" 
                                            class="view-permission"
                                        {% if entity.canView %}checked{% endif %}
                                    >
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td></td>
                            <td>delete</td>
                            {% for roleName, entity in roles %}
                                <td>
                                    <input type="checkbox" 
                                            name="permission[{{ entityName }}][{{ roleName }}][setCanDelete]" 
                                            class="delete-permission"
                                            {% if entity.canDelete %}checked{% endif %}
                                    >
                                </td>
                            {% endfor %}
                        </tr>
                {% endfor %}
            </table>
            <button type="submit" class="btn btn-sm btn-success btn-save-permission my-3" name="btn-save-permission">Sauvegarder</button>  
        </form> 
        </div>
    </div>
</div>
{% endblock %}

