<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-link {{ activeMenu("candidate_profile") ? 'active' : '' }}" 
        data-toggle="pill" 
        href="{{ path('candidate_profile') }}" 
        role="tab" 
        aria-controls="v-pills-home" 
        aria-selected="true">
            Profile
    </a>
    <a class="nav-link {{ activeMenu("candidate_setting") ? 'active' : '' }}" 
        data-toggle="pill" 
        href="{{ path('candidate_setting') }}" 
        role="tab" 
        aria-controls="v-pills-profile" 
        aria-selected="false">
        Paramètrage
    </a>
    {% if is_granted("ROLE_ADMIN") %}
        <a class="nav-link {{ activeMenu("admin_dashboard") ? 'active' : '' }}" 
            data-toggle="pill" 
            href="{{ path("admin_dashboard") }}" 
            role="tab" 
            aria-controls="v-pills-home" 
            aria-selected="true">
            Backoffice
        </a>
    {% endif %}
</div>