{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container-fluid mt-5">
        <div class="d-flex justify-content-center">
            <div class="card w-75">
                <div class="card-body">
                    <h4 class="card-title text-center">Inscription</h4>
                    {{ form_start(registrationForm, {"attr": {"novalidate": true}}) }}
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                {{ form_row(registrationForm.lastname) }}
                            </div>
                            <div class="col-md-6 col-sm-12">
                                {{ form_row(registrationForm.firstname) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                {{ form_row(registrationForm.email) }}
                            </div>
                            <div class="col-md-6 col-sm-12 d-flex align-items-center flex-column">
                                {{ form_label(registrationForm.positionType) }}
                                {{ form_widget(registrationForm.positionType) }}
                                {{ form_errors(registrationForm.positionType) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                {{ form_row(registrationForm.plainPassword) }}
                            </div>
                        </div>

                        {{ form_row(registrationForm.agreeTerms) }}

                        <button type="submit" class="btn btn-sm btn-info text-white">S'inscrire</button>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset("js/select-two.js") }}"></script>
{% endblock %}
