{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% form_theme form _self %}

{% block body %}
    <div class="container mb-5">
        <div class="row my-5">
            <div class="col-md-6 col-lg-3" style="background: #f2f2f2;">
                {% include "candidate/_profile_menu.html.twig" %}
            </div>
            <div class="col-md-6 col-lg-9 p-5" style="background: #f5f5f5;">
                {{ form_start(form, {"attr": {"novalidate": true}}) }}
                    <div class="row">
                        <div class="col-6">{{ form_row(form.lastname) }}</div>
                        <div class="col-6">{{ form_row(form.firstname) }}</div>
                    </div>
                    {{ form_widget(form) }}
                    <button type="submit" class="btn btn-sm btn-success">Modifier le profile</button> 
                    <a href="{{ path('candidate_profile') }}" class="btn btn-sm btn-warning">
                        Retourner au profile
                    </a>   
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block _update_profile_profExperiences_widget %}
    <input type="hidden" id="widget-counter-prof-exp" value="0">
    {{ form_widget(form) }}
    <div class="form-group">
        <button type="button" class="btn btn-sm btn-secondary btn-add-prof-experience">Ajouter une expérience</button>
    </div>
{% endblock %}

{% block _update_profile_profExperiences_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _update_profile_profExperiences_entry_widget %}
    <div id="block-{{ id }}">
        <div class="row">
            <div class="col-md-6 col-lg-6">{{ form_row(form.title) }}</div>
            <div class="col-md-6 col-lg-6">{{ form_row(form.description) }}</div>
        </div>
        <div class="row">
            <div class="col-md-6">{{ form_row(form.company) }}</div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6">{{ form_row(form.startDate) }}</div>
            <div class="col-md-6 col-lg-6">{{ form_row(form.endDate) }}</div>
        </div>
        <div>
            <button type="button" class="btn btn-sm btn-danger btn-delete-prof-exp my-2" 
                    data-target="#block-{{ id }}">
                Supprimer
            </button>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("js/select-two.js") }}"></script>
    <script src="{{ asset("js/profile-candidate.js") }}"></script>
{% endblock %}

